.footer-section {
    background: #f0f0f0; /* Gris clair */
    color: #333333; /* Texte plus foncé pour le contraste */
    padding-top: 20px;
    position: relative;
  }
  
  .footer-bottom {
    background: #d9d9d9; /* Gris légèrement plus foncé */
    padding: 20px 0;
    margin-top: 30px;
    text-align: center;
  }
  
  .footer-info h3,
  .footer-links a,
  .footer-contact-info i {
    color: #333333; /* Assurez-vous que le texte est lisible sur le fond gris */
  }
  
  .social-links a {
    background: #333333; /* Icônes de réseaux sociaux en gris foncé */
    color: #fff;
  }
  
  .social-links a:hover {
    background: #555555; /* Couleur au survol */
  }
  
  .footer-links a:hover {
    color: #555555; /* Couleur au survol */
  }
  
  .footer-bottom-links a:hover {
    color: #555555; /* Couleur au survol */
  }