<div class="upload-container" >
    <form (submit)="uploadImageSante()">
      <!-- Champ pour sélectionner un fichier -->
    
  
      <!-- Champ pour saisir le message -->
      <div class="form-group">
        <label for="message">Message :</label>
        <textarea
          id="message"[(ngModel)]="message"name="message"
          rows="3"
          class="form-control"
          placeholder="Entrez un message à associer à l'image"
          required
        ></textarea>
      </div>

      <div class="col-sm-16 col-md-16 col-lg-16">
        <label class="mb-2">Image :</label>
        <input type="file" (change)="onFileSelectedSante($event)" name="logo" class="form-control">
    </div>
  
      <!-- Bouton pour soumettre -->
      <button type="button" class="btn btn-primary" (click)="uploadImageSante()">
        Ajouter l'image
      </button>
    </form>
  </div>
  