<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>


<app-navbar></app-navbar>

    <section>
        <div class="acceuil">
            <img src="../assets/photo_acceuil.png">
            <div class="paragraphe">
                <H1>Une bonne santé, c'est d'abord une bonne alimentation</H1>
                <p>Vous voulez faire plus attention à ce que vous mangez ? Faites un suivi de vos repas,apprenez-en plus
                    sur vos
                    habitudes et atteignez vos objectifs avec MyFitnessPal.</p>
            </div>
            <button class="btn_primary" routerLink="/login">Démarrez Gartuitement</button>
        </div>
    </section>



    <div class="actuliser  ">
        <h2 class="section__title text-success"><span class="underline">Nos</span> Equilibre Alimentaire et bien-etre
        </h2>
    </div>
    <section class="partie_legume">
        <div class="img_salade">
            <img src="..\assets\fruits.png">

        </div>
        <h2 style="color: black; text-align: center; text-justify: auto; margin-top: 40px;">Être en bonne santé, c'est
            avant tout bien
            manger. <br>Voici notre liste d'aliments du moment
            à consommer sans moderation</h2>
        <section id="popular-destination">
            <img src="..\assets\add.png" height="30px" routerLink="/add-legume" >
            <div class="content">
                <div class="box" *ngFor="let  event of image">
                    <img [src]="event.image" [alt]="event.name" style="max-width: 300px; height: 300px;">
                    <p *ngIf="event.message">{{ event.message}}</p>
                    <button type="button" class="btn btn-danger" (click)="supprimerImage(event)">Supprimer</button>
                </div>
                
            </div>
            <button class="btn_legum" routerLink="/login">Pour plus de details</button>

        </section>

    </section>


    <!-- <section class="vegetables-section">
        <div class="header-image">
            <img src="..\assets\fruits.png" alt="Fruits">
        </div>
        <h2>Être en bonne santé, c'est avant tout bien manger. <br>Voici notre liste d'aliments du moment à consommer sans moderation</h2>
        
        <section class="vegetables-gallery">
            <img src="..\assets\add.png" height="30px" routerLink="/add-legume" *ngIf="authService.isAdmin()" class="add-icon">
            <div class="gallery-grid">
                <div class="vegetable-card" *ngFor="let event of image">
                    <div class="vegetable-image">
                        <img [src]="event.image" [alt]="event.name">
                    </div>
                    <p class="vegetable-description" *ngIf="event.message">{{ event.message }}</p>
                    <button type="button" class="delete-button" (click)="supprimerImage(event)">Supprimer</button>
                </div>
            </div>
            <button class="details-button" routerLink="/login">Pour plus de details</button>
        </section>
    </section> -->
    <div  class="imageSante"  >
        <img class="sante-sante" src="..\assets\sante.png"  style="right: 40%; margin-left: 30%; margin-top: 9%;"   ><br>
        <h2 style="color: black;   text-align: center; margin-top: 2%;">La santé est notre bien le plus précieux <br>prenez soin de vous en adoptant un mode de vie actif et équilibré</h2>
    </div>
    
    <!-- 
<app-test></app-test> -->
    <section id ="sante" >

        <section class="partie_sante">
            <div class="img_sante">
            </div>
            <img src="..\assets\add.png" height="30px" routerLink="/add-sante"  >
            <div class="content">
                <div class="box_sante" *ngFor="let  event of imagesSante">
                    <img [src]="event.image" [alt]="event.name" style="max-width: 300px; height: 300px;">
                    <p *ngIf="event.message">{{event.message}}</p>
                    <button type="button" class="btn btn-danger" 
                        (click)="supprimerImageSante(event)" >Supprimer</button>
                </div>
            </div>
            <button class="btn_sante" routerLink="/login">Pour plus de details</button>

        </section>
    </section>
    <div class="partie_histoire">
        <H1>Histoires de réussites</H1>
        <p>Chaque jour, plus de 3 000 membres atteignent leurs objectifs avec FitMaster. Laissez-vous inspirer par le
            voyage qui vous attend.</p>
        <app-slider></app-slider>
    </div>



</body>
<app-footer></app-footer>





</html>